*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background: var(--Neutral-900);
    display: flex;
    align-items: center;
    color: white;
    min-height: 100vh;
    flex-direction: column;
    height: 100vh;
}
header{
    width: 100%;
    min-height: 50px;
    height: 3rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 14%;
    margin-top: 15px;
}
/* api error state */

#api-error-state{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
#api-error-state > div{
    width: 100%;
    display: flex;
    justify-content: center;
}
#api-error-state > div > img{
    width: 30px;
    height: auto;
}
#api-error-state > h1{
    width: 100%;
    text-align: center;
    margin-top: 1rem;
}
#api-error-state > h4{
    width: 100%;
    text-align: center;
    color: var(--Neutral-300);
    font-weight: 200;
    font-size: 15px;
    margin-top: 1rem;
}
#retry{
    background-color: var(--Neutral-800);
    color: white;
    width: 5rem ;
    border: none;
    height: 1.5rem;
    border-radius: 5px;
    font-size: small;
    cursor: pointer;
    margin-top: 1rem;
}
.img-retry{
    width: 10px;
    height: auto;
    margin-right: 5px;
}
#api-error-state.invisible,
.grid-weather.invisible,
.input-section.invisible{
    display: none;
}


/* loading state */
.main-screen.loading-state.container {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: var(--Neutral-800);
    overflow: hidden;
}
.loading-state.div{
    position: relative;
}
.loading-state.div::before,
.loading-state.div::after{
    content: "";
    position: absolute;
    top: 3rem;
    width: 12px;
    height: 12px;
    background-color: var(--Neutral-300);
    animation: bounce 0.8s infinite ease-in-out;
}
.loading-state.div:before{
    left: 20%;
    border-radius: 50%;
    animation-delay: 0s;
}
.loading-state.div::after{
    right: 0%;
    animation-delay: 0.3s;
    border-radius: 50%;
}
.loading-state.div > .loading-state.text{
    font-size: 1rem ;
    margin-top: 4rem;
    position: relative;
    left: 0.5rem;
}
.loading-state.container::before{
    content: "";
    position: absolute;
    bottom: 6rem;
    left: 50%;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background: var(--Neutral-300);
    animation: bounce 0.8s infinite ease-in-out;
    animation-delay: 0.6s;
}
@keyframes bounce{
    0%,100%{
        transform: translateY(0);
        opacity: 1;
    }
    50%{
        transform: translateY(-5px);
        opacity: 0.7s;
    }
}


.img-container > img{
    height: 2rem;
}

/* Dropdown btn*/

.dropdown{
    display: inline-block;
    position: relative;
}
.dropdown-btn{
    background-color: var(--Neutral-800);
    color: white;
    width: 5rem ;
    border: none;
    height: 2rem;
    border-radius: 5px;
    font-size: small;
    cursor: pointer;
}
.dropdown-menu{
    position: absolute;
    background-color: var(--Neutral-800);
    color: white;
    min-height: 160px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    border-radius: 15px;
    width: 12rem;
    height: auto;
    display: flex;
    flex-direction: column;
    padding: 1rem;
    right: 0;
    top: 2.5rem;
    display: none;
}
.dropdown-menu.active{
    display: block;
}
.dropdown-menu > h2{
    font-size: 0.9rem;
    margin-bottom: 1rem;
}
.dropdown-menu > div{
    display: flex;
    flex-direction: column;
}
.dropdown-menu > hr{
    display: inline-block;
    color: white;
    height: px;
    opacity: 0.2;
    margin: 10px 0;
}
.dropdown-menu > div > button{
    background-color: var(--Neutral-800);
    border: none;
    cursor: pointer;
    color: white;
    text-align: start;
    padding: 0.3rem 0;
    transition: background 0.2s ease-in-out;
    border-radius: 5px;
}
.dropdown-menu > div > button:hover{
    background-color: var(--Neutral-700);
}
.dropdown-menu > div > button:active {
    background-color: var(--Neutral-700);
}

.img-unit{
    height: 10px;
    padding-right: 5px;
}
.img-drop{
    height: 7px;
    padding-left: 2px;
}
.input-section{
    width: 100%;
    padding: 0 5%;
    display: flex;
    align-items: center;
    margin-bottom: 2rem;
    flex-direction: column;
    margin: 3rem 0;
}
.question-input-container {
    font-size: 3rem;
}
.input-container{
    width: 100%;
    height: 5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}
/*recien agrergado*/
.suggestions{
    position: absolute;
    top: 70%;
    right: 39%;
    width: 25%;
    height: auto;
    background: var(--Neutral-800);
    border: none;
    border-radius: 8px;
    max-height: 200px;

    display: none;
    z-index: 10;
}
.suggestions > div{
    padding: 10px;
    cursor: pointer;
}
.suggestions div:hover{
    background: var(--Neutral-700);
}
.input-container > input{
    width: 25%;
    height: 30px;
    background-color: var(--Neutral-800);
    border: none;
    color: var(--Neutral-100);
    border-radius: 5px;
    padding: 0 2%;
}
#saveBtn{
    cursor: pointer;
}
.input-container > input::placeholder{
    color: var(--Neutral-300);
    padding-left: 40px;
    position: relative;
    right: 10%;
}
.input-container > input:focus{
    outline: none;
}
.input-container > img{
    position: relative;
    left: 1.7%;
    height: 17px;
    cursor: pointer;
}
.input-container > button{
    background: var(--Blue-500);
    border: none;
    width: 4%;
    height: 30px;
    margin-left: 10px;
    border-radius: 5px;
    color: var(--Neutral-100);
}
.grid-weather{
    width: 100%;
    height: 60vh;
    display: grid;
    grid-template-columns: 60% 40%;
    grid-template-rows: 40% 20% 30%;
    gap: 30px;
    width: 90%;
    padding: 0 10%;
}
.main-screen{
    grid-column: 1;
    grid-row: 1;
    background-image: url(./assets/images/bg-today-large.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 100%;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    padding: 0 5%;
    align-items: center;
}
.c-weather{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.c-weather > img{
    height: 80px;
    width: auto;
}
.tempera{
    font-size: 5rem;
}
.city-data > h2{
    font-size: 1.7rem;
}
.city-data > h4{
    font-size: 1rem;
    color: var(--Neutral-300);
    opacity: 0.7;
}


.current-data{
    grid-column: 1;
    grid-row: 2;
    display: flex;
    justify-content: space-between; 
    gap: 10px;
}
.data-card{
    background-color: var(--Neutral-700);
    width: 100%;
    border-radius: 10px;
    display: flex;
    justify-content: start;
    padding: 1.2rem;
    flex-wrap: wrap;
}
.data-card > h3{
    width: 100%;
    font-weight: 100;
    font-size: 1rem;
    color: var(--Neutral-100);
}
.data-card > div{
    font-size: 2rem;
    color: var(--Neutral-100);
}




.future-data{
    grid-column: 1;
    grid-row: 3;
    display: flex;
    flex-wrap: wrap;
    align-items: start;
    height: 100%;
}
.future-data > h2{
    display: block;
    width: 100%;
    font-size: 1rem;
    height: 1.5rem;
    display: flex;
    align-items: center;
    margin-bottom: 0.5rem;

}
.future-data > div{
    display: flex;
    align-items: start;
    gap: 20px;
    width: 100%;
    height: 85%;
}
.data-card-daily{
    background-color: var(--Neutral-700);
    width: 100%;
    height: 100%;
    border-radius: 10px;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-template-rows: 30% 50% 20%;
    justify-items: center;
    align-items: center;
}
.data-card-daily > img{
    height: auto;
    width: 4rem;
}
.day{
    grid-column: span 2;
    grid-row: 1;
}
.data-card-daily > img{
    grid-column: span 2;
    grid-row: 2;
    display: block;
    width: 100%;
}
#initial-grade{
    grid-column: 1;
    grid-row: 3;
}
#final-grade{
    grid-column: 2;
    grid-row: 3;
}



.hourly-future-data{
    grid-column: 2;
    grid-row: span 3;
    background-color: var(--Neutral-700);
    display: flex;
    flex-direction: column;
    padding: 1rem;
    border-radius: 10px;
    height: 100%;
}
.hourly-title{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    height: 10%;
    align-items: center;
}
#dropdownDayButton{
    background-color: var(--Neutral-600);
    color: white;
    width: 5rem ;
    border: none;
    height: 2rem;
    border-radius: 5px;
    font-size: small;
    cursor: pointer;
}
.dropdown-day-menu{
    display: flex;
    position: absolute;
    flex-direction: column;
    background-color: var(--Neutral-700);
    min-height: 160px;
    width: 10rem;
    height: auto;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    justify-content: center;
    align-items: center;
    border-radius: 15px;
    padding: 0.5rem;
    right: 18rem;
    top: 22rem;
    border: 1px solid rgba(255,255,255, 0.1);
    display: none;
}
.dropdown-day-menu > button{
    width: 90%;
    border-radius: 5px;
    background-color: var(--Neutral-700);
    color: white;
    border: none;
    text-align: start;
    margin: 0.1rem 0;
    height: 1.5rem;
    transition: background 0.2s ease-in-out;
}
.dropdown-day-menu.show{
    display: block;
}
.dropdown-day-menu > button:hover {
    background-color: var(--Neutral-600);
}
.dropdown-day-menu > button:active{
    background-color: var(--Neutral-600);
}
.hourly-container{
    display: flex;
    flex-direction: column;
    height: 100%;
    gap: 5px;
    width: 100%;
    justify-content: space-between;
}
.hourly-block{
    background-color: var(--Neutral-600);
    height: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 1rem;
    border-radius: 10px;
    height: 3.5rem;
}
.close-dropdown{
    display: none;
}
.hourly-block > div{
    display: flex;
    align-items: center;
}
.hourly-block > div >img{
    width: 40px;
    height: auto;
}

